{{#extend "layout"}}

{{#content "intro"}}
<p>
    Press the <strong>Get JSON</strong> button to load a json file in a separate processor <strong>thread</strong>.
</p>
{{/content}}

{{#content "sidebar"}}
<ul class="navigation">
    <li class="section__item navigation__item">
        <button class="navigation__button--load-json">
            Get JSON
        </button>
    </li>
</ul>
{{/content}}

{{#content "demo"}}{{/content}}

{{/extend}}