<div class="image">
    <img
        data-src="https://cors-anywhere.herokuapp.com///placehold.it/1440x900.jpg"
    />
</div>

<button id="images-fetch">
    prefetch all images
</button>

<button id="images-observe">
    prepare and load visible images only
</button>
