{{#extend "layout"}}

{{!-- layout introduction --}}
{{#content "intro"}}

<p><strong>Loader</strong> can be used with <strong>IntersectionObserver</strong> to provide an easy and enhanced
    lazy load functionality.</p>

{{/content}}

{{!-- layout sidebar --}}
{{#content "sidebar"}}

<ul class="navigation">
    <li class="navigation__entry navigation__entry--fetch-images">
        <button class="button button-images-fetch">
            prefetch all images
        </button>
    </li>

    <li class="navigation__entry navigation__entry--observe-images">
        <button class="button button-images-observe">
            prepare and load visible images only
        </button>
    </li>
</ul>

{{/content}}

{{!-- layout demo playground area --}}
{{#content "demo"}}

{{#each @images}}
{{> image image=.}}
{{/each}}

{{/content}}

{{/extend}}