{{#extend "layout"}}

{{#content "intro"}}
test
{{/content}}

{{#content "sidebar"}}
<ul class="navigation">
    <li class="navigation__entry navigation__entry--fetch-images">
        <button class="button button-images-fetch">
            prefetch all images
        </button>
    </li>

    <li class="navigation__entry navigation__entry--observe-images">
        <button class="button button-images-observe">
            prepare and load visible images only
        </button>
    </li>
</ul>
{{/content}}

{{#content "demo"}}

{{#repeat 10}}
{{> image}}
{{/repeat}}

{{/content}}

{{/extend}}