{{#extend "layout"}}

{{!-- intro block --}}
{{#content "intro"}}

<p>Press the <strong>Load Music Covers</strong> button or the <strong>Load Movie Covers</strong> button to load new
    <strong>images</strong> in a separate processor <strong>thread</strong>.</p>

{{/content}}

{{!-- sidebar block --}}
{{#content "sidebar"}}

<ul class="navigation">
    <li class="section__item navigation__item">
        <button class="navigation__button--load-images" data-type="music">
            Load Music Covers
        </button>
    </li>

    <li class="section__item navigation__item">
        <button class="navigation__button--load-images" data-type="movie">
            Load Movie Covers
        </button>
    </li>
</ul>

{{/content}}

{{!-- demo block --}}
{{#content "demo"}}

<div class="demo-area__inner">
    {{#each @images}}
    {{> image image=.}}
    {{/each}}
</div>

{{/content}}

{{/extend}}