{{#extend "layout"}}

{{#content "intro"}}
test
{{/content}}

{{#content "sidebar"}}
<button class="button button-images-fetch">
    prefetch all images
</button>

<button class="button button-images-observe">
    prepare and load visible images only
</button>
{{/content}}

{{#content "demo"}}

{{#repeat 10}}
{{> image}}
{{/repeat}}

{{/content}}

{{/extend}}