@import "../../layout.scss";

.navigation__button--load-images {
    @extend %button;
}

.demo-area__inner {
    .demo-area--images & {
        @extend %contents-grid;
    }
}

%image {
    @extend %contents-grid__item;
    background: $placeholders-background;
    position: relative;
    transition: background-color 0.4s ease;
    border-radius: 6px;
    overflow: hidden;

    @media (min-width: #{$screen-small}) and (max-width: #{$screen-medium}) {
        width: calc(100% / 2 - #{$contents-gutters});
    }

    @media (min-width: #{$screen-medium}) {
        width: calc(100% / 3 - #{$contents-gutters});
    }

    &::before {
        display: block;
        content: "";
        padding: 0 0 100%;
    }
}

.image {
    @extend %image;

    &--loading {
        @extend %image;
        background: darken($placeholders-background, 15%);
    }

    &--loaded {
        @extend %image;
        background: darken($placeholders-background, 30%);
    }

    &__img {
        @extend %cover;
        opacity: 0;
        transition: opacity 0.4s ease;
        object-fit: cover;
    }

    &--loaded &__img {
        opacity: 1;
    }
}
