{{#extend "layout"}}

{{!-- intro block --}}
{{#content "intro"}}

<p><strong>Loader</strong> can be used with <strong>IntersectionObserver</strong> to provide an easy and enhanced
    lazy load functionality.</p>

{{/content}}

{{!-- sidebar block --}}
{{#content "sidebar"}}

<ul class="navigation">
    <li class="section__item navigation__item">
        <button class="navigation__button--load-images" data-type="music">
            Load music covers
        </button>
    </li>

    <li class="section__item navigation__item">
        <button class="navigation__button--load-images" data-type="movie">
            Load movie covers
        </button>
    </li>
</ul>

{{/content}}

{{!-- demo block --}}
{{#content "demo"}}

<div class="demo-area__inner">
    {{#each @images}}
    {{> image image=.}}
    {{/each}}
</div>

{{/content}}

{{/extend}}