{{#extend "layout"}}

{{!-- intro block --}}
{{#content "intro"}}

<p><strong>Loader</strong> can be used with <strong>IntersectionObserver</strong> to provide an easy and enhanced
    lazy load functionality.</p>

{{/content}}

{{!-- sidebar block --}}
{{#content "sidebar"}}

<ul class="navigation">
    <li class="navigation__entry">
        <button class="button navigation__button--load-images" data-type="music">
            Load music covers
        </button>
    </li>

    <li class="navigation__entry">
        <button class="button navigation__button--load-images" data-type="movie">
            Load movie covers
        </button>
    </li>
</ul>

{{/content}}

{{!-- demo block --}}
{{#content "demo"}}

{{#each @images}}
{{> image image=.}}
{{/each}}

{{/content}}

{{/extend}}