<div class="item">
    <div class="item__capital" data-capital="{{capital}}"></div>

    <div class="item__wrapper">
        <div class="item__title">{{title}}</div>
        <div class="item__subtitle">{{subtitle}}</div>
    </div>
</div>