{{#extend "layout"}}

{{#content "intro"}}
<p>
    Press the <strong>Toggle Dark Mode</strong> button to load an extra dark mode theme
    <strong>stylesheet</strong> in a separate processor <strong>thread</strong>.
</p>
{{/content}}

{{#content "sidebar"}}
<ul class="navigation">
    <li class="section__item navigation__item">
        <button class="navigation__button--load-css">
            Toggle Dark Mode
        </button>
    </li>
</ul>
{{/content}}

{{#content "demo"}}{{/content}}

{{/extend}}