$color-background--dark-mode: #2a2a2a;
$color-panels-background--dark-mode: #373737;
$color-panels-borders--dark-mode: #4d4d4d;
$color-text--dark-mode: #d8d8d8;
$color-labels-background--dark-mode: #ff1493;
$color-labels-text--dark-mode: white;
$color-button-text--dark-mode: #e2e2e2;
$color-button-background--dark-mode: #616161;
$color-button-borders--dark-mode: #818181;

%panel {
    background-color: $color-panels-background--dark-mode;
    border-color: $color-panels-borders--dark-mode;
}

html.dark-mode {
    color: $color-text--dark-mode;

    body {
        background-color: $color-background--dark-mode;
    }

    .topbar {
        @extend %panel;
    }

    .contents-inner {
        @extend %panel;
    }

    .contents-sidebar {
        @extend %panel;
    }

    .button {
        color: $color-button-text--dark-mode;
        border-color: $color-button-borders--dark-mode;
        background: $color-button-background--dark-mode;

        &:focus,
        &:hover {
            border-color: lighten($color-button-borders--dark-mode, 5%);
            background: lighten($color-button-background--dark-mode, 5%);
        }

        &:active {
            border-color: lighten($color-button-borders--dark-mode, 8%);
            background: lighten($color-button-background--dark-mode, 8%);
        }
    }

    .label {
        color: $color-labels-text--dark-mode;

        &::before {
            background-color: $color-labels-background--dark-mode;
        }
    }
}
