{{#extend "layout"}}

{{#content "intro"}}
<p>
    <strong>Loader</strong> supports <strong>text/css</strong> MIME type
    so it can be used as an asynchronous stylesheets load callback
    (which is a quite an [ancient cross-browser issue.
</p>

<p>
    Press "Toggle Dark Mode" to fetch and apply an extra dark mode theme
    stylesheet.
</p>
{{/content}}

{{#content "sidebar"}}
<ul class="navigation">
    <li class="section__item navigation__item">
        <button class="navigation__button--load-css">
            Toggle Dark Mode
        </button>
    </li>
</ul>
{{/content}}

{{#content "demo"}}{{/content}}

{{/extend}}