<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>Loader.js: {{@folder}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="/{{@path}}/dist/index.css" rel="stylesheet" />
</head>

<body>
    <div id="root">
        <div class="topbar">
            <div class="topbar__inner">
                <h1 class="topbar__title">
                    Loader.js:

                    <span class="topbar__label">
                        <span>
                            {{@folder}}
                        </span>
                    </span>
                </h1>
            </div>
        </div>

        <section class="contents">
            <div class="contents__inner">
                <div class="section--main">
                    <article class="section__item">
                        {{#block "intro"}}{{/block}}
                    </article>

                    <article class="section__item demo-area">
                        {{#block "demo"}}{{/block}}
                    </article>
                </div>

                <aside class="section--sidebar">
                    {{#block "sidebar"}}{{/block}}
                </aside>
            </div>
        </section>
    </div>

    <script>
        (function (src) {
            try {
                new Function('import("' + src + '")')();
            } catch (e) {
                var s = document.createElement("script");
                s.src = "https://unpkg.com/shimport";
                s.dataset.main = src;
                document.head.appendChild(s);
            }
        })("/{{@path}}/src/index.mjs");
    </script>
</body>

</html>