{{#extend "layout"}}

{{#content "intro"}}


<p>
    <strong>Loader</strong> supports <strong>text/html</strong> MIME type so it
    can be used to retrieve new contents.
</p>
<p>Press "Load New Contents" to replace placeholders with actual contents.</p>

{{/content}}

{{#content "sidebar"}}

<button class="button button-contents-loader">Load Contents</button>

{{/content}}

{{#content "demo"}}

<div class="contents-demo__inner">
    {{#each @items}}
    {{> item item=.}}
    {{/each}}
</div>

{{/content}}

{{/extend}}