@import "../../layout.scss";

.contents-info-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.contents-info-list-item {
    margin: 0 0 10px 0;
}

.contents-info {
    display: flex;
    flex-wrap: nowrap;
}

.contents-info-icon {
    width: 14%;
    background: red;
    border-radius: 100%;
}
.contents-info-icon::before {
    content: "";
    display: block;
    padding: 0 0 100% 0;
}

.contents-info-subtitle {
    height: 14px;
    width: 55%;
    background: red;
    display: block;
}

.contents-info-contents {
    flex-grow: 1;
    padding-left: 5%;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.contents-info-title {
    height: 14px;
    width: 31%;
    background: red;
    display: block;
    margin-bottom: 10px;
}
