<p>
    <strong>Loader</strong> supports <strong>text/html</strong> MIME type so it
    can be used to retrieve new contents.
</p>
<p>Press "Load New Contents" to replace placeholders with actual contents.</p>

<button class="button button-contents-loader">Load New Contents</button>
