@import "../../layout.scss";

.navigation__button--load-html {
    @extend %button;
}

.demo-area__inner {
    .demo-area--html & {
        @extend %contents-grid;
    }
}

%item__pseudos {
    display: block;
    content: "\2002";
    background-color: $placeholders-background;
}

.item {
    @extend %contents-grid__item;

    @media (min-width: #{$screen-medium - 40px}) {
        width: calc(50% - #{$contents-gutters});
    }

    &__inner {
        @extend %flex;
        justify-content: space-between;
    }

    &__capital {
        @extend %flex-column-justify-center;
        width: 20%;
        position: relative;

        &::before {
            @extend %item__pseudos;
            border-radius: 100%;
            line-height: 0;
            padding: 0 0 100% 0;
        }

        &:after {
            content: attr(data-capital);
            @extend %flex-justify-center;
            @extend %cover;
            align-items: center;
            font-size: 23px;
            font-weight: bold;
            text-transform: uppercase;
        }
    }

    &__wrapper {
        width: 76%;
        @extend %flex-column-justify-center;
    }

    %row {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        line-height: 1.35;

        margin: 1px 0;

        &:empty {
            margin: 2px 0;
        }

        &::before {
            border-radius: 3px;
        }
    }

    &__title {
        @extend %row;
        font-weight: bold;

        &:empty::before {
            @extend %item__pseudos;
            max-width: 56%;
        }
    }

    &__subtitle {
        @extend %row;
        font-size: smaller;

        &:empty::before {
            @extend %item__pseudos;
            max-width: 87%;
        }
    }
}
